@import "tailwindcss";

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

/* Definição de temas claro e escuro */
@layer base {
  body {
    @apply bg-gray-100 text-gray-900 transition-colors dark:bg-[url("bg.jpg")] bg-repeat bg-[length:800px] dark:text-gray-100 font-mono;
  }

  h1 {
    @apply text-4xl font-bold text-blue-700 dark:text-blue-400;
  }

  h2 {
    @apply text-2xl font-semibold text-gray-800 dark:text-gray-300;
  }

  a {
    @apply text-blue-500 hover:text-blue-600 dark:text-blue-300 dark:hover:text-blue-400 transition;
  }
}

/* Botões estilosos */
@layer components {
  .custom-button {
    @apply bg-[#f8f8f8] text-[#29292c] p-2 rounded-lg hover:scale-110 
            transition-all duration-1000 
           dark:bg-cyan-400 dark:hover:bg-white
           shadow-md dark:hover:shadow-white/50;
  }

  .custom-hover-text {
    @apply text-5xl font-bold text-cyan-400 hover:text-white transition duration-1000;
  }

  .custom-hover-bg {
    @apply bg-cyan-400 hover:bg-white transition duration-1000;
  }

  .custom-skill-box {
    @apply bg-[#f8f8f8] text-[#29292c] p-2 rounded-lg hover:scale-110 
            transition-all duration-1000 
           dark:bg-cyan-400 dark:hover:bg-white
           shadow-md dark:hover:shadow-white/50;
  }
}

/* Estrutura flexível */
@layer utilities {
  .container {
    @apply max-w-4xl mx-auto p-6;
  }

  .card {
    @apply p-6 rounded-lg shadow-md bg-white dark:bg-gray-800;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}
