@import "tailwindcss";

@keyframes dot-pulse {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.dot-anim {
  animation: dot-pulse 1.5s infinite ease-in-out;
  display: inline-block;
}

.dot-anim:nth-child(1) {
  animation-delay: 0s;
}

.dot-anim:nth-child(2) {
  animation-delay: 0.5s;
}

.dot-anim:nth-child(3) {
  animation-delay: 1s;
}

/* Definição de temas claro e escuro */
@layer base {
  body {
    @apply text-gray-900 dark:text-gray-100 transition-colors bg-[url('/bg.jpg')] bg-repeat bg-[length:1600px] font-mono;
  }

  header {
    @apply bg-[#d0d0d0] dark:bg-gray-950 w-full fixed top-0 left-0 flex justify-center items-center p-4 h-25 gap-20 z-100;
  }

  .filter {
    @apply bg-white/95 dark:bg-gray-950/95 absolute inset-0 h-full;
  }

  .sub-footer {
    @apply to-[#d0d0d0] dark:to-gray-950 w-full h-40 bg-gradient-to-b;
  }
  
  footer {
    @apply bg-[#d0d0d0] dark:bg-gray-950 w-full flex flex-col justify-center items-center p-5 pb-15;
  }

  a {
    @apply text-white hover:text-black dark:text-cyan-400 dark:hover:text-white font-bold;
  }
  
  hr {
    @apply bg-[#d0d0d0] border-[#d0d0d0] dark:bg-cyan-400 dark:border-cyan-400 rounded-full;
  }
}


@layer components {

  .scale {
    @apply duration-1000 transform hover:scale-110;
  }

  .custom-button {
    @apply bg-[#d0d0d0] text-black dark:hover:shadow-white/50 dark:bg-cyan-400 dark:hover:bg-white 
    p-2 rounded-lg hover:scale-105 transition-all duration-1000 shadow-md;
  }
  
  .custom-hover-text {
    @apply text-[#d0d0d0] hover:text-black dark:text-cyan-400 dark:hover:text-white font-bold transition duration-1000;
  }

  .custom-hover {
    @apply bg-[#d0d0d0] hover:bg-black dark:bg-cyan-400 dark:hover:bg-white hover:scale-110 transition duration-1000;
  }

  .custom-box {
    @apply bg-[#d0d0d0] hover:bg-black text-white dark:text-[#29292c] dark:bg-cyan-400 dark:hover:bg-white dark:hover:shadow-white/50 flex flex-col p-4 h-45 w-45 rounded-2xl justify-center items-center hover:scale-105 
      transition-all duration-1000 shadow-md;
  }

  .custom-date {
    @apply bg-[#d0d0d0] text-black dark:bg-cyan-500 dark:text-white relative inline-block items-center px-4 py-2 rounded-l-lg before:content-[''] 
    before:absolute before:-right-2 before:top-1/2 before:-translate-y-1/2 before:w-0 before:h-0 before:border-l-[10px] 
    before:border-l-[#d0d0d0] dark:before:border-l-cyan-500 before:border-y-[8px] before:border-y-transparent;
  }

  .custom-contact {
    @apply border-white text-white dark:border-cyan-400 dark:text-cyan-400 flex w-75 border-2 p-3 rounded-lg text-center items-center justify-center gap-3;
  }

  .custom-logo {
    @apply fill-white hover:fill-black dark:fill-cyan-400 dark:hover:fill-white hover:scale-120 transition-all duration-1000;
  }

  .custom-svg-1 {
    @apply fill-[#d0d0d0] dark:fill-cyan-400;
  }

  .custom-svg-2 {
    @apply fill-white dark:fill-cyan-400;
  }
}

/* Estrutura flexível */
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}
